html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: var(--font-color);
}

a:hover {
  text-decoration: none;
  color: var(--font-color);
}

ionlab-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background: var(--section-bg);
  height: 50px;
  line-height: 50px;
  font-size: var(--font-size-sm);
  font-weight: bold;
  color: var(--icon-color);
}

header .icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -3px;
  font-size: 22px;
  color: var(--icon-color);
  cursor: pointer;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  background: url('lab-logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -2px;
  width: 64px;
  height: 28px;
  margin-left: 15px;
}

#header-left {
  float: left;
}

#header-left .menu-icon {
  margin-left: 13px;
}

#header-right {
  float: right;
}

#header-right button {
  display: inline-block;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  color: var(--icon-color);
  font-weight: bold;
}

#header-right .fullscreen-icon {
  margin-left: 5px;
}

main {
  color: var(--font-color);
  display: flex;
  flex: 1;
  overflow: hidden;
}

footer {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  background: var(--section-bg);
  font-size: var(--font-size-sm);
  color: var(--font-color);
}

#footer-left {
  float: left;
  padding: 14px 0 14px 15px;
}

#footer-right {
  float: right;
  padding: 14px 15px 14px 5px;
}

#footer-right a {
  font-family: var(--font-family-medium);
  margin-left: 10px;
}

#error-box {
  width: 500px;
  align-self: center;
  justify-content: center;
  text-align: center;
  background: var(--section-bg);
  padding: 25px;
  margin: 100px 0;
}
